/* CSS Document */
body {
	width: 85%;
	margin: 1em auto 0;
	font: 90%/1.5 Georgia, "Times New Roman", T, serif;
	background-image: linear-gradient(to top, lightblue, white);
}
h1 {
	margin-top: 50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2.8em;
	font-weight: bold;
	color: darkslateblue;
	text-align: center;
}
.buttons {
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
		.buttons {
			flex-direction: column;
			padding-bottom: 10px;
		}
}

button {
	text-transform: uppercase;
	background-color: lightblue;
	padding: 7px;
	border: none;
	border-radius: 5px;
	margin: 3px;
}

.blue-eyes .eye-color {
	fill: #175282;	
}
.sad .mouth {
	transform: rotate(180deg) scale(.5);
    transform-origin: 340px 391px;
}

@keyframes moveEyes {
	20%{
		transform: translate(-18px, -20px);
	}
	40% {
		transform: translate(0, 0);
	}
	65% {
		transform: translate(20px, -30px);
	}
	100% {
		transform: translate( 5px, 0px);
	}
}

.move-around .inner-eye-group {
	animation: moveEyes 12s infinite;
}
@keyframes leftWhiskers {
	20%{
		transform: rotate(5deg);
	}
	65% {
		transform: rotate(-5deg);
	}
}
.move-around .left-whiskers {
	animation: leftWhiskers 3s infinite;
	transform-origin: 325px 350px;
}
@keyframes rightWhiskers {
	5%{
		transform: rotate(-2deg);
	}
	65% {
		transform: rotate(7deg);
	}
}
.move-around .right-whiskers {
	animation: rightWhiskers 3s infinite;
	transform-origin: 325px 350px;
}
@keyframes move {
	20% {
		transform: rotateY(10deg) rotateX(10deg);
	}
	40% {
		transform: rotateY(25deg) rotateX(10deg);
	}
	60% {
		transform: rotateY(-10deg) rotateX(-10deg);
	}
	85% {
		transform: rotateY(-10deg) rotateX(-16deg);
	}
}
.move-around {
	animation: move 8s infinite;
}

.svg-container {
	perspective: 1000px;
	display: flex;
	justify-content: center;
}

/* paragraphs */

.content {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}
@media only screen and (max-width: 600px) {
	.content {
		flex-direction: column;
		align-items: center;
	}
}
p {
	width: 40vw;
	line-height: 2;
	
}
@media only screen and (max-width: 600px) {
	p {
		width: 80vw;
	}
}